@use "sass:math";
@use "sass:list";

@function pxtorem($values) {
  $rem-values: ();
  @each $value in $values {
    @if type-of($value) == 'number' and $value != 0 {
      @if math.is-unitless($value) {
        $rem-values: list.append($rem-values, math.div($value, 16) * 1rem);
      } @else {
        $rem-values: list.append($rem-values, math.div($value, 16px) * 1rem);
      }
    } @else {
      $rem-values: list.append($rem-values, if($value == 0, 0, $value));
    }
  }
  @return $rem-values;
}
